<!-- <ngx-spinner type="ball-clip-rotate-multiple" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner> -->

<!-- test
<div>
    test 2 -->
    <ngx-spinner type="ball-clip-rotate-multiple" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
        [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
<!-- </div> -->

<button (click)="showSpinner()">Show Spinner</button>

